<style type="text/css">
    .img-brand{
        float: left;
        height: 50px;
        padding: 5px 5px;
    }

    .toggle-gold{
        border: 1px solid #f7dd7a;
    }

    .toggle-gold .icon-bar{
        background-color:#f7dd7a;
    }
</style>
<div class="navbar-header">
    <button type="button" class="navbar-toggle toggle-gold" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <img class="img-brand" src="content/img/emblem.png"/>
</div>
    <!-- /.navbar-header -->
